:root {
  --custom-border-radius: 5%;
}

body {
  background-color: #f2f2f2;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  width: 500px;
  height: 600px;
  border-radius: var(--custom-border-radius);
  padding: 16px;

  background-color: #dedede;

  margin: 5px auto;
}

.screen {
  background-color: #e4fce1;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  box-sizing: border-box;
  border-radius: var(--custom-border-radius);
  padding: 16px;

  width: 100%;
  height: 40%;

  font-size: 40px;
}

/* .input {

} */

.output {
  align-self: flex-end;
}

.calc-buttons {
  width: 100%;
  height: 60%;

  display: flex;
  gap: 10px;

  box-sizing: border-box;
  padding-top: 16px;
}

button {
  border-radius: var(--custom-border-radius);
  font-size: 40px;
}


.numbers {
  width: 60%;
  height: 100%;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;

}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.options {
  width: 40%;
  height: 100%;

  display: grid;
  grid-template-columns: 
}

/* .clear {

}

.equals {

} */